# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
build/
web-build/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Env / secrets
.env
.env.*
*.keystore
*.p8
*.p12
*.mobileprovision

# Native folders (if you ever prebuild; keep ignored in managed flow)
ios/
android/
